<ifmodule mod_expires.c>
  <filesmatch "\.(jpg|gif|png|css|js|gzip)$">
       ExpiresActive on
       ExpiresDefault "access plus 1 year"
   </filesmatch>
</ifmodule>
<IfModule mod_rewrite.c>
    RewriteEngine On
	  #RewriteBase /
	  RewriteBase /wptest/wp-content/themes/alphasmanifesto
	
    RewriteCond %{REQUEST_FILENAME} icon-.*\.png
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^.*$ icon-default.png [L]
</IfModule>