a { 
	color: black; 
	font-weight: bold; 
	text-decoration: none;
}

input,
textarea,
footer,
nav,
#commentForm,
#logo,
#dockMenu,
#dockMenu div.jqDockWrap,
#dockMenu div.jqDock,
#dockMenu div.jqDockLabel,
.permalink,
.share,
.commentCount,
.post-edit-link {
	display: none; 
}

.categories:before {
	content: "Categorías: "; 
}

.title h1 { 
	margin-bottom: 0; 
}

.title h2 {
	margin-top: 0;
	font-style: italic; 
	font-size: 1.2em; 
	font-weight: normal; 
}

.tags {
	border-top: 1px solid black;
}

p, blockquote { 
	widows: 200;
}

@page { margin: 0.5cm; }

.date, .time { display:  inline; }

.metadata {
	border-bottom: 1px solid black;
}

article {
	page-break-after: always;
}

article:last-child {
	page-break-after: avoid;
}